.inputs{
    border-radius: 0.5rem 0rem 0rem 0.5rem;
    border-right: 0px solid transparent;
    padding: 0.3rem 1rem 0.3rem 1rem;
    font: var(--paragraph);
    font-size: 1.2rem;
    margin: 0rem;
    width: 85%;
    height: 100%;
    box-shadow: none !important;
}
.inputs:hover{
    box-shadow: none !important;
}
.inputsDiv{
    padding: 0.3rem 0rem 0.3rem 0rem;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    width: 100%;
    border: 2px solid var(--cadetblue);
    border-radius: 0.5rem;
    margin-bottom: 2rem;
    background-color: white;
}
.inputsDivError{
    padding: 0.3rem 0rem 0.3rem 0rem;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    width: 100%;
    border-left: 0px solid transparent;
    border-radius: 0.5rem;
    margin-bottom: 2rem;
    background-color: white;
    border: 2px solid rgb(227, 67, 67)
}
.iconDiv{
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    width: 9%;
    height: auto;
}
.icons{
    border-radius: 50%;
}
.icons:hover{
    background-color: rgb(215, 215, 215);
}
.spanError{
    text-align: start;
    color:red;
    font: var(--paragraph);
    font-size: medium;
}