.paymentsContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
}

.paymentTitle{
  font: var(--paragraph);
  font-size: 300%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 20em;
}

.title{
  margin-top: 0;
  margin-bottom: 2%;
}

.paymentList{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background: lightyellow;
  width: 600px;
  border-radius: 10px;
  border: 1px solid #000;
  padding: 1%;
  gap: 1rem;
}

.paymentInfo{
  background: var(--cream);
  display: flex;
  flex-direction: column;
  padding: 1%;
  border-radius: 10px;
  border: 1px solid black;
}

.noPymnt{
  font: var(--paragraph);
  font-size: 125%;  
} 