.divContainerImg{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50rem;
    height: 16rem;
}
.divAvatar{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50%;
    height: 100%;
}
.avatar{
    object-fit: cover;
    object-position: center;
    image-resolution: 720px;
    width:15rem;
    height: 14.6rem;
    border-radius: 100%;
    border: 6px solid rgb(109, 176, 179);
    border-style: solid;
    box-shadow: 0px 0px 12px #dbdbdb;
    background-image: url("https://th.bing.com/th/id/OIP.audMX4ZGbvT2_GJTx2c4GgHaHw?pid=ImgDet&rs=1");
    background-size: 108%;
    background-repeat: no-repeat;
    background-position: center;
}
.divInputsImage{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 50%;
}
.inputAvatarError{
    font:var(--hTitle);
    font-size: large;
    cursor: pointer;
    background-color: var(--cadetblue);
    box-shadow: none;
    margin-top: 1rem;
    border-radius: 1rem;
    width: auto;
    max-width: 98%;
    border: 2px solid rgb(223, 5, 5);
    color: white;
    padding: 0.7rem;
    transition: background-color .5s, color .5s, transform .5s;
}
.inputAvatarError:hover{
    transform: translate(0px, -10px);
    padding: 0.7rem;
    background-color: var(--white);
    color: rgb(223, 5, 5);
    box-shadow: inset 5px 5px 15px rgb(70 70 70 / 12%);
}
.inputImage{
    border: 2px solid var(--cadetblue);
    margin-top: 1rem;
    font:var(--paragraph);
    font-size: large;
    cursor: pointer;
    color: var(--white);
    background-color: var(--cadetblue);
    box-shadow: none;
    border-radius: 1rem;
    padding: 0.7rem;
    width: auto;
    max-width: 98%;
    transition: background-color .5s, color .5s, transform .5s, color .5s; 
}
.inputImage:hover{
    background-color: var(--white);
    color: var(--cadetblue);
    border: 2px solid var(--cadetblue);
    transform: translateY(-10px);
    box-shadow: inset 5px 5px 15px rgb(70 70 70 / 12%);
}
.inputImageDisabled{
    border: 2px solid gray;
    margin-top: 1rem;
    font:var(--paragraph);
    font-size: large;
    color: gray;
    background-color: var(--white);
    box-shadow: none;
    border-radius: 1rem;
    padding: 0.7rem;
    width: auto;
    max-width: max-content;
}
.inputImageDisabled:hover{
box-shadow: none;
}


@media (max-width: 1025px) {
    .containerDescription, .errorsDescriptionContainer{
        min-width: 85%;
        max-width: 85%;
    }
   .errorsDescription{
    width: 85%
   }
  }
  @media (max-width: 920px) {
    .divContainerImg{
        flex-direction: column;
        width: 100%;
        height: 28rem;
        border: 1px solid red;
      }
      .divAvatar{
        width: 100%;
        height: 60%;
    }
    .divInputsImage{
        width: 100%;
        height: 45%;
    } 
  }
  @media (max-width: 426px) {
    .inputImage, .inputImageDisabled , .inputAvatarError{
        font-size: medium;
        max-width: 90%;
    }
  }
  @media (max-width: 321px) {
   .divAvatar .avatar{
        width:14rem;
        height: 13.6rem;
    }
  }