.container{
    /* width: 100%;*/
    background: linear-gradient(180deg, #969897 0%, #F4F1BB 100%);
    display: flex;
    flex-direction: column;
    text-align: center;
    padding: 100px;
    font: var(--hTitle);
    font-size: 150%
}
.img {
  width: 180px;
}

.titulo{
  display: flex;
  justify-content: center;
  align-content: center;
  font-size: 40px;
}


.parrafo{
  display: flex;
  justify-content: center;
  font: var(--paragraph);
  font-size: 120%;
  font-style: italic;
}