.container{
    display: flex;
    flex-direction: column;
    text-align: center;
    padding: 20px 100px;
    font: var(--hTitle);
    font-size: 150%
}


.info{
  display: grid;
  grid-template-columns: 60% 40%;
}
.logo__psicologia{
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.logo__psicologia img{
  width: 90%;
  border-radius: 50px;
  transition: all 1600ms ease;
  box-shadow: rgba(246, 171, 171, 0.2) 0px 30px 20px -17px;

}
.logo__psicologia img:hover{
  transform: scale(1.01);
  box-shadow: rgba(0, 0, 0, 0.1) 0px 30px 20px -17px;

}
.titulo{
  display: flex;
  justify-content: center;
  position: relative;
  cursor: pointer;
  align-content: center;
  font-size: 1.5em;
}
.title{
  display: flex;
  justify-content: center;
  position: relative;
  cursor: pointer;
  align-content: center;
  font-size: 2em;
}
.title::before {
  background-color: #7ed0e9;
  content: '';
  position: absolute;
  width: 60%;
  height: 4px;
  border-radius: 4px;
  bottom: 0;
  left: 20%;
  transform-origin: left;
  transform: scaleX(0);
  transition: transform 1s ease-in-out;
}

.title:hover::before {
  transform-origin: left;
  transform: scaleX(1);
}


.parrafo{
  display: flex;
  justify-content: center;
  font: var(--paragraph);
  font-size: 1em;
}

.secondInfo{
  display: grid;
  grid-template-columns: 40% 60%;
}

@media (max-width: 1024px) {
  .container{
    padding: 20px 1em;
  }
  .info{
    display: flex;
    flex-direction: column-reverse;
  }
  .secondInfo{
    display: flex;
    flex-direction: column;
  }
  .logo__psicologia img{
    width: 35%;
  }
}
@media (max-width: 700px) {
  
  .title{
 font-size: 1.2em;
  }
  .titulo{
    font-size: 1em;

  }
  .parrafo{
    font-size: 0.6em;
  }
}