.container{
    display: flex;
    flex-direction: column;
    text-align: center;
    padding: 20px 100px;
    font: var(--hTitle);
    font-size: 150%
}
.img {
  width: 180px;
}

.info{
  display: grid;
  grid-template-columns: 60% 40%;
}
.logo__psicologia{
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.logo__psicologia img{
  scale: 210%;
  border-radius: 50px;
  box-shadow: rgba(0, 0, 0, 0.2) 0px 60px 40px -7px;


}
.titulo{
  display: flex;
  justify-content: center;
  position: relative;
  cursor: pointer;
  align-content: center;
  font-size: 30px;
}
.title{
  display: flex;
  justify-content: center;
  position: relative;
  cursor: pointer;
  align-content: center;
  font-size: 50px;
}
.title::before {
  background-color: #7ed0e9;
  content: '';
  position: absolute;
  width: 60%;
  height: 4px;
  border-radius: 4px;
  bottom: 0;
  left: 20%;
  transform-origin: left;
  transform: scaleX(0);
  transition: transform 1s ease-in-out;
}

.title:hover::before {
  transform-origin: left;
  transform: scaleX(1);
}


.parrafo{
  display: flex;
  justify-content: center;
  font: var(--paragraph);
  font-size: 120%;
}

.secondInfo{
  display: grid;
  grid-template-columns: 40% 60%;
}