.card {
  width: 320px;
  height: 430px;
  background: #ffffff;
  border-radius: 30px;
  text-align: center;
  cursor: pointer;
  overflow: hidden;
  transition: all 1.5s ease-in-out;
}

.card:hover {
  box-shadow: 0 0 20px 1px rgba(0, 0, 0, 0.623);
  background-color: rgb(75, 184, 255);
  transition: all 1.5s ease-in-out;
}

.card .blob {
  height: 10px;
  width: 75%;
  border-radius: 0 0 30px 30px;
  margin: 0 auto;
  background-color: #4bb8ff;
  visibility: visible;
  transition: all 1.3s;
}

.card:hover .blob {
  height: 0;
}

.card .img {
  display: flex;
  margin: 30px auto 10px auto;
  width: 100px;
  height: 100px;
  background-color: #4bb8ff;
  border-radius: 50%;
  font-size: 11px;
  overflow: hidden;
  justify-content: center;
  align-items: center;
  transition: all 1s ease-in-out;
}
.card .img img {
  height: 100%;
}
.card:hover .img {
  width: 100%;
  height: 60%;
  border-radius: 30px;
  margin: 0 auto;
  background-color: #f0f0f0;
  z-index: 99999;
}

.card h2 {
  padding: 15px 10px;
  font-size: 25px;
  transition: all 0.1s;
  z-index: -99;
  line-height: 20px;
}

.card span {
  font-size: 18px;
}

.card:hover h2 {
  opacity: 0;
  width: 100%;
  position: absolute;
  transition: all 0.5s;
}

.info {
  width: 100%;
  height: 100px;
  display: flex;
  justify-content: center;
  text-align: center;
  gap: 0 20px;
  flex-wrap: wrap;
}
.info p{
  font: var(--hTitle);
  font-size: 15px;
}
.info p span {
  font-weight: bold;
}
