.container {
  position: fixed;
  z-index: 20;
  overflow: hidden;
  transition: 800ms all ease-in-out;
  bottom: 10px;
  right: 30px;
  border-radius: 10px;
  display: grid;
  grid-template-columns: 35% 65%;
  width: 450px;
  height: 450px;
  box-shadow: rgba(0, 0, 0, 0.2) 0px 60px 40px -7px;
}
.containerChatFloat{
  position: relative;
  box-shadow: rgba(0, 0, 0, 0.2) 0px 30px 30px -7px;
  border: 3px dotted rgba(0, 0, 0, 0.2);
  background-color: var(--oyster);
  border-radius: 100px;
  width: 130px;
  height: 130px;
  transition: 400ms all ease;
  cursor: pointer;  
}

.containerChatFloat:hover{
  transform: scale(1.1)
}

.imageChatFloat{
  z-index: 1;
  position: absolute;
  top: 15px;
  left:8px;
  width: 80%;
  height: 80%;
  border-radius: 100%;
  object-fit: cover;
}

.containerChatFloatfixed{
  position: fixed;
  z-index: 20;
  bottom: 35px;
  right: 55px;
  border-radius: 50%;
  box-shadow: rgba(0, 0, 0, 0.2) 0px 60px 40px -7px;
  background-color: var(--oyster);
  display: flex;
  justify-content: center;
  width: 6em;
  height: 6em;
  cursor: pointer;
  transition: 400ms all ease;
}


.closeIcon{
  position: relative;
  background-color:none;
  width: 70px;
  overflow: hidden;
  height: 70px;
  left: -55px;
  bottom: -5px;
  cursor: pointer;
}
.closeIcon:hover{
 transform: scale(1.1);
}
.containerChatFloatfixed:hover{
  transform: scale(1.06)
}
.containerChatFloatfixed img{
  scale: 75%;
}
.containerImage {
  width: 100%;
  display: flex;
  height: 150px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 10%;
}

.containerImage img {
  width: 60%;
  border-radius: 50%;
}
.containerImage h2 {
  font-family: var(--lightParagrah);
  font-size: 15px;
  border-radius: 50%;
}
.timeStamp{
  font-size: 10px;
  position: relative;
}

.allChatsContainer {
  background-color: var(--aquamarine);
  height: 100%;
  justify-content: center;
}
.InfoContaner {
  display: flex;
}

.formContainer {
  display: flex;
  padding: 0 15px;
  width: fit-content;
  height: 70px;
  position: absolute;
  bottom: 0;
  background-color: aliceblue;
  flex-direction: unset;
}
.input {
  width: 110%;
  margin-left: 0;
}

.btn {
  display: inline;
  border-radius: 10px;
  padding: 0.5rem 1rem;
  align-self: center;
  color: white;
  border: none;
  background-color: #0a58ca;
  cursor: pointer;
  transition: background-color 0.3s;
}

.btn:hover {
  background-color: #063e91;
}

.msgContainer {
  max-height: 350px;
  position: sticky;
  z-index: 0;
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 10px;
  font-size: 1.2rem;
  padding-bottom: 80px;
  overflow-y: auto;
  padding: 1rem;
  background-color: var(--white);
}

.msgContainer::-webkit-scrollbar {
  background: rgb(255, 255, 255);
  background: linear-gradient(
    90deg,
    rgba(255, 255, 255, 0) 30%,
    cyan 50%,
    rgba(255, 255, 255, 0) 70%
  );
  width: 10px;
}

.msgContainer::-webkit-scrollbar-thumb {
  background: linear-gradient(135deg, transparent 15px, cyan 0) top left,
    linear-gradient(-135deg, transparent 15px, cyan 0) top right,
    linear-gradient(-45deg, transparent 15px, cyan 0) bottom right,
    linear-gradient(45deg, transparent 15px, cyan 0) bottom left;
  background-size: 50% 50%;
  background-repeat: no-repeat;
  height: 10%;
}

.itemChats {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 10px;
}
.btnChat{
  display: flex;
  align-items: center;
  text-decoration: none;
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
  border: none;
	font: var(--paragraph);
  font-size: 15px;
  overflow: hidden;
	cursor: pointer;
  gap: 5px;
  background-color: var(--oyster);
}
.btnChat img{
  width: 20%;
}

.messageOfMe{
 background-color:var(--oyster); 
 border-radius: 20px;
 justify-content: end;
 gap: 10px;
 align-items: center;
 display: flex;
}


.msg{
   font: var(--paragraph);
   font-size: 15px;
   width: 60%;
   display: block;
 
}

.img{
  width: 2em;
  height: 2em;
  margin: 10px;
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
  border-radius: 50%;
}
.messageOfOther{
  background-color:var(--pink); 
  border-radius: 20px;
  justify-content: start;
  gap: 10px;
  align-items: center;
  display: flex;

}
/* 
  .msgContainer {
    height: 100%;
    width: 100%;
    font-size: 1.2rem;
    overflow-y: auto;
    overflow-x: hidden;
    background-color: var(--color-darker);
    padding: 1rem;
    background-color: rgb(218, 218, 218);
  }
  
  .msg {
    margin: 0;
    text-align: left;

  }
  
  .msgIni {
    display: flex;
    text-align: center;
  }
  
  .msgUsername {
    font-size: 1.4rem;
    color: #0d6efd;
  }
  
  .ownMsg{
    font-size: 1.4rem;
    color: #c99700;
  }
   */
