.errorsSelect{
    border-radius: 1rem;
    font:var(--paragraph);
    font-size: 1rem;
    width: auto;
    text-align: center;
    cursor: pointer;
    border-color: rgb(223, 5, 5);
}
.select{
    border-radius: 1rem;
    font:var(--paragraph);
    font-size: 1rem;
    width: auto;
    text-align: center;
    cursor: pointer;
}

@media (max-width: 426px) {
    .select , .errorsSelect{
        font-size: 0.9rem;
    }
}