.divContainer{
    display: flex;
    justify-content: center;
    width: 93.3%;
    margin-top:6rem; 
    margin-bottom:80px;
}
.divContainer .inputs{
width: 20rem;
}
.divContainer .label{
    text-align: center;
    width: 100%;
    font-weight: 500;
    font-size: 1.4rem;
    margin: 2.5rem 0px 2rem 0px;
}
.divContainer .inputImage{
    font-size: 1rem;
    font-weight: 500;
    font-family: 'Poppins', sans-serif;
    cursor: pointer;
    color: cadetblue;
    background-color: white;
    border: 2px solid rgb(95, 158, 160);
    border-style: dotted;
    box-shadow: none;
    transition: transform .5s, color .5s, background-color .5s, border .5s ;
    width: auto;
    max-width: max-content;
}
.divContainer .inputImage:hover{
    transform: translate(0px, -10px);
    color: white;
    background-color: cadetblue;
    border:2.2px solid white;
    border-style: dotted;
}
.divContainer .inputImageDisabled{
    font-size: 1rem;
    font-weight: 500;
    font-family: 'Poppins', sans-serif;
    color: gray;
    background-color: white;
    border: 2px solid gray;
    border-style: dotted;
    box-shadow: none;
    width: auto;
}
.divContainer .divContainerImg{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50rem;
    height: 16rem;
}
.divContainer .divInputsImage{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 50%;
}

.divContainer .divContainerImg .divAvatar .avatar{
    width:16rem;
    height: 15rem;
    border-radius: 100%;
    border: 4px solid cadetblue;
    border-style: dotted;
}

.divContainer .divContainerImg .divAvatar{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
}

.divContainer .divSkills{ 
    margin-top: 1rem;
    width: auto;
    height: auto;
    max-width: 60%;
    border-radius: 10px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    border: none;
    outline: none;
    box-shadow: 9px 9px 15px #dedede, -3px -6px 18px #f2f1f1;
}
.divContainer .divSkills .skillsDivSpan{
    display: flex;
    align-items: center;
    border: 1px solid black;
    padding: 0rem 0rem 0rem 0.5rem;
    margin:1rem;
    height: 1.5rem;
    border-radius: 0.5rem 1rem 1rem 1.3rem;
}
.divContainer .divSkills .skillsDivSpan .skillsSpanX{
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid gray;
    width: 1.2rem;
    height: 80%;
    margin:0rem 0.1rem 0rem 0.5rem;
    border-radius: 100%;
    cursor: pointer;
    transition: color .3s border .3s background-color .3s;
    color:red;
    border: 1px solid red;
    background-color: white;
}
.divContainer .divSkills .skillsDivSpan .skillsSpanX:hover{
    color:white;
    border: 1px solid red;
    background-color: red;
}
.divContainer .containerDescription .description{
    width: auto;
    overflow: auto;
}
.divContainer .select{
    border-radius: 1rem;
    font-family: 'Poppins', sans-serif;
    width: auto;
    text-align: center;
    cursor: pointer;
}
.divContainer .inputSubmit{
margin-top: 5%;
width: 8rem;
font-size: medium;
font-weight: 500;
font-family: 'Poppins', sans-serif;
cursor: pointer;
color: cadetblue;
background-color: white;
border:2px solid rgb(95, 158, 160);
border-style: dotted;
box-shadow: none;
transition: transform .5s, color .5s, background-color .5s, border .5s ;
}
.divContainer .inputSubmit:hover{
    transform: translate(0px, -10px);
    color: white;
    background-color: cadetblue;
    border:2.2px solid white;
    border-style: dotted;
}

.divContainer .containerDescription{
width: 50%;
height: 10rem;
border: 1px solid red;
}