.container {
  margin-top: 80px;
  display: flex;
  justify-content: center;
  text-align: center;
  flex-direction: column;
}
.title{
  display: flex;
  justify-content: center;
  position: relative;
  cursor: pointer;
  align-content: center;
  font-size: 50px;
}
.title::before {
  background-color: #7ed0e9;
  content: '';
  position: absolute;
  width: 10%;
  height: 4px;
  border-radius: 4px;
  bottom: 0;
  left: 45%;
  transform-origin: left;
  transform: scaleX(0);
  transition: transform 1s ease-in-out;
}

.title:hover::before {
  transform-origin: left;
  transform: scaleX(1);
}

.containerSearchBar {
  display: flex;
  align-items: center;
  justify-content: center;
}
.inputCointer {
  width: 100%;
  background: transparent ;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
.input {
  padding: 20px 25px;
  margin: 8px 15px;
  width: 35%;
  height: 30px;
  border-radius: 15px;
  border: none;
  outline: none;
  font-size: 1.3rem;
  background-color: white;
  box-shadow: 9px 9px 15px #dedede, -9px -9px 15px #fff;
}
.button {
  color: #000000;
  background:var(--aquamarine);
  font-weight: bold;
  font-size: 12px;
  height: 80px;
  width: 80px;
  padding: 12px 15px;
  margin: 5px;
  border-radius: 60%;
  box-shadow: 9px 9px 15px #dedede, -9px -9px 15px #fff;
  letter-spacing: 1px;
  border: none;
  text-transform: uppercase;
  transition: all 8000ms ease-in;
  cursor: pointer;
}
.button :hover{
  transform: scale(1.09);
  
}
.button img{
  width: 30px;
}
.cardContainer {
  width: 100%;
  margin: 0;
  margin-top: 15px;
  padding: 0;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 0.5em;
  column-gap: 1em;
}

.paginated {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 10px;
  margin-top: 30px;
  padding: 0;
}
.paginated li {
  list-style: none;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  height: 65px;
  width: 65px;
  cursor: pointer;
  box-shadow: 0 8px 14px 0 rgba(0, 0, 0, 0.6);
  background-color: var(--aquamarine);
  color: black;
}
.paginated li:hover{
    transform: scale(1.09);
    
}
.paginated .active {
  background: var(--cream);
  color: black;
}

.paginated p {
  font: var(--hTitle);
  font-size: 1.5rem;
}

.disabled {
  pointer-events: none;
  color: rgba(0, 0, 0, 0.43);
}
.disabled:hover {
  background-color: transprent;
  cursor: default;
}
.ContainerAreaSliderFilter{
  width: 100%;
  padding: 0;
  margin: 0;
  background-color: transparent;
  display: flex;
  justify-content: center;
}
.filter{
  width: 70%;
  padding: 0;
  margin: 0;
}

.disabled {
  pointer-events: none;
  color: rgba(0, 0, 0, 0.43);
}
.disabled:hover {
  background-color: transprent;
  cursor: default;
}
.ContainerAreaSliderFilter{
  width: 100%;
  padding: 0;
  margin: 0;
  background-color: transparent;
  display: flex;
  justify-content: center;
}
.filter{
  width: 70%;
  padding: 0;
  margin: 0;
}