.password{
    width: fit-content;
    display: flex;

}
.pswicon{
    height: 20px;
    width: 20px;
}
.img{
    height: 20px;
    width: 20px;
}

.spanError{
    color:#ff5050;
}
.inputError{
    border: 1.5px solid rgb(227, 67, 67)
}
.hidden, .switchResponsive{
    display: none;
  }
  @media (max-width: 780px) {
    .hidden, .switchResponsive{
        display: block;
      }
      .switchResponsive{
        color: #fff;
        background: #000000;
        font-weight: bold;
        font-size: 10px;
        padding: 10px 45px;
        margin: 20px;
        border-radius: 20px;
        border: 1px solid #000000;
        outline: none;
        letter-spacing: 1px;
        text-transform: uppercase;
        transition: transform 80ms ease-in;
        cursor: pointer;
      }
  }