.classPsicoRegister{
    margin-top: 4em;
    margin-bottom: 2em;
    display: flex;
    background-color:transparent;
    border-radius: 30px;
    padding: 5px 50px;
    flex-wrap: wrap;
  box-shadow: rgba(0, 0, 0, 0.2) 0px 60px 40px -7px;

    border: solid 3px var(--cadetblue);
}
.classPsicoRegister input{
    height: 40px;
    font-size: 20px;
    width: 90%;
    display: flex;
    padding: 10px 20px;
    text-decoration: none;
    border-radius: 10px;
    transition: all 600ms ease;
    color: black;
    outline: 0px;
    font-weight: bold;
    margin: 0;
    border: 2px solid cadetblue;
}
  .inputs {
    width: 100%;
    gap: 20px;
    margin: 20px 0px;
    display: grid;
    grid-template-columns: 50% 50%;
  }
  
.spanError{
    color:#ff5050;
}
.inputError{
    border: 5px solid rgb(227, 67, 67)
}

.boton{
    color: white;
    background-color: cadetblue;
    margin-bottom: 30px;
    border-radius: 10px;
    font-size: 20px;
    height: 60px;
    border: none;
    width: 20%;
    cursor: pointer;
    transition: all 1000ms ease-in-out;
}
.boton:hover{
    transform: scale(1.01);
  box-shadow: 9px 9px 15px var(--oyster), -9px -9px 15px #fff;
}

.title{
    display: flex;
    justify-content: center;
    position: relative;
    cursor: pointer;
    align-content: center;
    font-size: 50px;
  }
  .title::before {
    background-color: #7ed0e9;
    content: '';
    position: absolute;
    width: 60%;
    height: 4px;
    border-radius: 4px;
    bottom: 0;
    left: 20%;
    transform-origin: left;
    transform: scaleX(0);
    transition: transform 1s ease-in-out;
  }
  
  .title:hover::before {
    transform-origin: left;
    transform: scaleX(1);
  }
  