.container{
    height: 100vh;
    background-color: var(--white);
    padding: 90px;
    text-align: center;
}    

.img{
    padding: 30px;
    border-radius: 50%;
    width: 30%;
    height: 30%;
    text-align: center;
}