.container {
  margin-top: 100px;
  width: 100%;
  text-align: center;
}
.oneBox {
  height: 47%;
  width: 100%;
  display: grid;
  grid-template-columns: 60% 40%;
}

.imgContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  max-height: 500px;
}
.img {
  border-radius: 50%;
  width: 90%;
}

.firstInfo {
  display: flex;
  align-items: center;
}
.firstInfoBox {
  width: 100%;
  position: relative;
  height: auto;
}
.title {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 600;
  font-size: 50px;
  line-height: 90%;
  width: 100%;
  padding-left: 40px;
  text-align: start;
}
h2 {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 200;
  font-size: 40px;
  line-height: 95%;
  text-align: start;
  padding-left: 40px;
}
.buttonContainer {
  width: 50%;
  margin-top: 0px;
  height: auto;
}

.button {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 600;
  font-size: 30px;
  line-height: 120%;
  /* or 38px */

  letter-spacing: 0.1em;
  box-sizing: border-box;

  width: 330px;
  height: 70px;

  /* Color/ColorFont/Negro */

  background: #000000;
  border: 3px solid #000000;
  border-radius: 20px;
}
.lastBox{
    border: 1px solid red;
    width: 100%;
    position: relative;
    bottom: 100px;
    height: 400px;
}
