.containercard{
    height: 400px;
    margin-top: 15px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.card{
    background: white;
    width: 90%;
    height: 350px;
    border-radius: 10px;
    border-top: 20px solid cadetblue;
    box-shadow: -5px 5px 5px #5e5b5b;
    border-bottom: 2px solid cadetblue;
}

.name{
   font-size: 20px;
   width: 100%;
   text-align: center;
   font-weight: bold;    
}

.puntualidad{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding: 7px;
    font-weight: lighter;   
}
 .labelpuntualidad{
    margin-left: 20px;
 }

.starspuntualidad{
    width: 150px;
    margin-left: 10px;
    letter-spacing: 8px;
    text-align: center;
}

.trato{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding: 5px;
    font-weight: lighter;
    margin-top: -10px;
}

.labeltrato{
    margin-left: 20px;
 }

.general{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding: 5px;
    font-weight: lighter;
    margin-top: -10px;

}

.labelgeneral{
    margin-left: 20px;
 }

 .comments{
    width: 90%;
    margin-left: 12px;
 }

