.containdetails {
  width: 100%;
  font-family: "Poppins";
  display: flex;

  flex-direction: column;
  justify-content: center;
  align-items: center;
}



.reviews{
    width: 100%;
    margin-top: 20px;
    height:250px;
    background: pink;

}

.cerebrito{
  transform:scaleX(-1);
  width:20%;
}

.contcalendary{
  width: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  gap: 40px;
  margin-top: 50px;
  margin-bottom: 50px;
  
}

@media (max-width: 1250px) {
.contcalendary{
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
}




