.containdetails {
  width: 100%;
  font-family: "Poppins";
  background: wheat;
  height: 1400px;
}

.descriptionprof{
  width: 100%;
  height: 500px ;
}

.cardprof{
  width: 70%;
  height: 400px;
  padding: 10px;
  background: white;
}

.reviews{
    width: 100%;
    margin-top: 20px;
    height:250px;
    background: pink;

}

.cerebrito{
  position: absolute;
  transform:scaleX(-1);
  width: 300px;
  margin-top: 100px;
}
.container__botttom {
  
  width: 100%;
  height: 100vh;
  display: grid;
  grid-template-columns: 50% 50%;
  align-content: center;
  align-items: center; 

}

.contcalendary{
  width: 100%;
  
}

.container__top {
  width: 100%;
  height: auto;
  display: grid;
  grid-template-columns: 60% 40%;
  margin-top: 90px;
}

.description{
  width: 40%;
  height: 270px;
  position: absolute;
  margin-top: 50px;
  z-index: 1;
  margin-left: 450px;

}

.iconochat{
  position: absolute;
  width: 180px;
  height: 180px;
  margin-top: -320px;
  margin-left: 950px;
}


.calendario {
  width: 10%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 5px;
  height: 50px;
  position: absolute;
  box-shadow: -5px 5px 5px #5e5b5b;
  margin-top: 60px;
  border-radius: 8px 5px 5px 5px;
}
.arrow{
    
  width: 90px;
  height: 90px; 
  font-weight: -20px;
  color: #292D32;
  cursor: pointer;
  
  
}

.button{
  position: absolute;
  background: none;
  border: none;
  width: 30px;
  margin-top: 360px;
  margin-left: 965px;
  transition: transform 0.2s ease-in-out;

}

.button:hover{
  transform: translateY(10px);
}






