.container {
  font-family: "Poppins";
  background-color: whitesmoke;
}
.container__botttom {
  width: 100%;
  height: 100vh;
  display: grid;
  grid-template-columns: 50% 50%;
  align-content: center;
  align-items: center; 

}

.container__top {

  width: 100%;
  height: 50vh;
  display: grid;
  grid-template-columns: 60% 40%;
  margin-top: 90px;
  margin-bottom: 10px;
  margin-bottom: 5rem;
}
.detailproffesional {

  height: 100%;
  padding-left: 20rem;
}
.agendacita {

  border-radius: 5px;
  box-shadow: 5px 10px 10px #888888;
  height:50%;
  width: 90%;
  padding-top: 20px;
  margin-top: 180px;
  margin-right: 90px;
 
  font-size: 10px;
  align-content: center;
  display: flex;
  align-content: center;
  justify-content: center;
}
.reviews {
  height: 250px;

  width: 500px;
  margin-top: 230px;
  position: absolute;
}

.imgageandtitle {
  width: 40%;
  margin-left: 25px;
  height: 90vh;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.imageDetails {
  box-shadow: 5px 5px 5px 5px rgba(0, 0, 0, 0.1);
  width: 180px;
  height: 170px;
  border-radius: 100px;
  margin-top: 30px;
  margin-bottom: 20px;
}

.subtitulo {
  margin-top: -10px;
}

.description {
 
  width: 40rem;
  max-height: 30rem;
  padding: 10px;
  border: 1px solid gray;
  border-radius: 10px 10px 20px 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  box-shadow: 5px 10px 10px #888888;
  border-top: 15px solid #66d7d1;
  overflow-y: auto;
}

.paragraph {
  margin-top: 5px;
  padding: 5px 10px;
  /* display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: ;

    overflow: hidden;    */
  line-height: 25px;
}

.readMore {
  background: white;
  font-size: 10px;
  color: black;
  width: 10px;
}

.calendario {
  width: 10%;
  height: 50px;
  position: absolute;
  box-shadow: -5px 5px 5px #5e5b5b;
  margin-top: 60px;

  border-radius: 8px 5px 5px 5px;
}

.reservahoy {
  font-size: 20px;
  margin-top: 10px;
  margin-left: 15px;
  background: none;
  border: none;
  cursor: pointer;
}

.iconocalendary {
  margin-left: 50px;
  font-size: 35px;
  margin-top: 5px;
  position: absolute;
}

.comentary {
  margin-left: 20px;
  font-size: 8px;
  line-height: 50px;
}

.calification {
  width: 60%;
  height: 150px;
  position: absolute;
  margin-top: -140px;
  margin-left: 200px;
}
.starline1 {
  width: 100%;

  height: 30px;
  display: flex;
  justify-content: space-between;
  letter-spacing: 50px;
  font-size: 20px;
  margin-top: 7px;
  line-height: 30px;
}

.starline2 {
  width: 100%;

  height: 30px;
  display: flex;
  justify-content: space-between;
  letter-spacing: 50px;
  font-size: 20px;
  margin-top: 16px;
  line-height: 30px;
}

.starline3 {
  width: 100%;
  height: 30px;
  display: flex;
  justify-content: space-between;
  letter-spacing: 50px;
  font-size: 20px;
  margin-top: 24px;
  line-height: 30px;
}

.stars {
  font-size: 20px;
  color: #888888;
}

.stars:hover {
  color: yellow;
}

.pagar {

  width: 100vh;
  height:100%;
  padding-top: 50px;
  padding-left:50px;
  display: flex;
  align-content: center;
  flex-direction: column;
  align-items: center;
}

.precio {
  font-size: 40px;
  
}

.calendary__box {
  margin-left: 50px;
}

.buttonpagar {
  width: 200px;
  height: 50px;
  position: absolute;
  margin-top: 160px;
  color: #fff;
  background: #000000;
  font-weight: bold;
  font-size: 15px;
  border-radius: 10px;
  border: 1px solid #000000;
  outline: none;
  letter-spacing: 1px;
  text-transform: uppercase;
  transition: transform 80ms ease-in;
  cursor: pointer;
}

.meet {
  width: 80px;
  height: 80px;
  position: absolute;
  margin-top: 235px;
  margin-left: 150px;
}

.zoom {
  width: 80px;
  height: 80px;
  position: absolute;
  margin-top: 130px;
  margin-left: -120px;
}
