.securityContainer{
    background: transparent;
}


.optionButtons{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
    padding: 2%;
}

.button{
    background-color: cadetblue;
    border-radius: 25px;
    border: dotted white;
    padding: 1%;
    font: var(--paragraph);
    font-size: 150%;
    color: white;
}

.changeSection{
    display: flex;
    align-items: center;
    justify-content: center;
}