.form{
    display: flex;
    justify-content: center;
    width: 80%;
    border-left: 2px solid rgb(109, 155, 157);
    border-right: 2px solid rgb(109, 155, 157);
    border-top:0px;
    border-bottom: 0px;
    border-style: dotted;
    background: linear-gradient( 254deg, rgba(255, 255, 255, 1) 9%, rgba(234, 242, 227, 1) 96%)
}
.form input:focus, input:hover{
    box-shadow: 10px 10px 15px rgb(70 70 70 / 12%), 
    inset -10px -10px 15px rgb(255 255 255 / 50%), 
    inset 10px 10px 15px rgb(70 70 70 / 12%);
}
.inputSubmitDisabled{
    margin: 10% 0%;
    width: 9rem;
    border-radius: 1rem;
    font:var(--paragraph);
    font-size: large;
    font-weight: 500;
    color: gray;
    border:2px solid gray;
    background-color: white;
    box-shadow: 0px 0px 10px #dbdbdb;
}
.inputSubmitDisabled:hover{
    box-shadow: 0px 0px 10px #dbdbdb;
}
.inputSubmit{
    margin: 10% 0%;
    width: 8rem;
    border-radius: 1rem;
    font:var(--paragraph);
    font-size: large;
    cursor: pointer;
    color: var(--white);
    border: 2px solid var(--cadetblue);
    background-color: var(--cadetblue);
    box-shadow: 0px 0px 10px #dbdbdb;
    padding: 0.7rem;
    width: 9rem;
    max-width: 90%;
    transition: border .5s, background-color .5s, color .5s, transform .5s; 
}
.inputSubmit:hover{
    background-color: var(--white);
    color: var(--cadetblue);
    border: 2px solid var(--cadetblue);
    transform: translateY(-10px);
}


@media (max-width: 426px) {
    .form{
        width: 75%;
    }
    .form .inputSubmitDisabled, .inputSubmit{
        font-size: medium;
        margin: 20% 0%;
    }
}