.container{
    display: flex;
    align-items: center;
    flex-direction: column;
    height: 100vh;
    background-color: var(--cream);
    height: auto;
}

.title{
    font-family: var(--h1Title);
    padding: 30px;
}

.box{
    position: sticky;
    height: 30%;
    width: 100vh;
    border-style: solid;
    border-width: 2px;
    border-radius: 10px;
    border-color: gray;
    overflow-y: auto;
    background-color: beige;
    max-height: 400px;
    margin-bottom: 100px;
}

.consult{
    margin: 10px;
    border: black solid 2px;
    height: 40%;
}

.calendary{
    position: relative;
    margin-bottom: 100px;
}


.box::-webkit-scrollbar-thumb{
    background: linear-gradient(135deg, transparent 15px, cyan 0) top left,
    linear-gradient(-135deg, transparent 15px, cyan 0) top right,
    linear-gradient(-45deg, transparent 15px, cyan 0) bottom right,
    linear-gradient(45deg, transparent 15px, cyan 0) bottom left;
    background-size: 50% 50%;
    background-repeat: no-repeat;
    height: 10%;
}
