.container{
    display: flex;
    align-items: center;
    flex-direction: column;
    background-color: var(--cream);
}

.title{
    font-family: var(--h1Title);
    padding: 30px;
}

.box{
    display: flex;
    flex-direction: column;
    position: sticky;
    width: 100vh;
    border-style: solid;
    border-width: 2px;
    border-radius: 10px;
    border-color: gray;
    overflow-y: auto;
    background-color: beige;
    max-height: 400px;
    min-height: 50px;
    text-align: center;
}

.calendary{
    display: flex;
    justify-content: center;
    padding: 10px;
}

.select{
    border-radius: 1rem;
    font-family: 'Poppins', sans-serif;
    width: auto;
    text-align: center;
    cursor: pointer;
}

.inputSubmit{
    margin-top: 5%;
    width: 12rem;
    font-size: medium;
    font-weight: 500;
    font-family: 'Poppins', sans-serif;
    cursor: pointer;
    color: cadetblue;
    background-color: white;
    border:2px solid rgb(95, 158, 160);
    border-style: dotted;
    box-shadow: none;
    transition: transform .5s, color .5s, background-color .5s, border .5s ;
}

.selectDays{
    display: flex;
    flex-direction: column;
}

.section{
    padding-bottom: 10px;
}

.divDays{ 
    display: flex;
    flex-wrap: wrap;
    border: solid black 1px;
}

.divDaysCard{
    display: flex;
    
    height: 20px;
    padding: 2px;
    margin: 2px;
    border: solid black 1px;
}

.box::-webkit-scrollbar-thumb{
    background: linear-gradient(135deg, transparent 15px, cyan 0) top left,
    linear-gradient(-135deg, transparent 15px, cyan 0) top right,
    linear-gradient(-45deg, transparent 15px, cyan 0) bottom right,
    linear-gradient(45deg, transparent 15px, cyan 0) bottom left;
    background-size: 50% 50%;
    background-repeat: no-repeat;
    height: 10%;
}