@font-face {
  font-family: myAdeston;
  src: url('../../assets/fonts/Adeston-BW9B8.ttf');
} 

* {
  text-decoration: none;
}

.container {
  width: 100%;
  background-color: cadetblue;
  height: 90px;
  position: fixed;
  display: grid;
  grid-template-columns: 25% 75%;
  top: 0;
  z-index: 2;
}

.logo {
  display: flex;
  justify-content: center;
  align-items: center;
  justify-content: space-around;
  font-family: 'Poppins';
  max-height: 90px;
  font-style: 'Poppins';
}
.logo a {
  display: flex;
  justify-content: center;
  align-content: center;
  color: black;
}
.logo a h3 {
  margin-left: 9px;
  display: flex;
  font: normal 35px myAdeston;
  letter-spacing: 0px;
}
.logo img {
  width: 3.5em;
}

.nav {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  display: flex;
  align-items: center;
  justify-content:space-between;
  color: black;
}

.loginDiv{
  flex-direction: column;
  display: -webkit-box;
  color: rgb(253, 253, 253);
  margin-right: 20px;

}

.loginDiv div{
  padding: 15px;
}
.loginDiv div a h3{
  font: var(--hTitle);
  cursor: pointer;
  transition: all 300ms ease-in-out;
}

.loginDiv div :hover{
  color: var(--chalk);
  cursor: pointer;
  transform: scale(1.01);
}
.navItem{
  font: var(--hTitle);

}
.nav_list div a h3{
  font-size: 17px;
}

.nav_list :hover{
  color: var(--chalk);
  cursor: pointer;
}

.nav_list div {
  display: inline-block;
  padding: 0 10px;
}

.nav_list a{
  font-family: 'Poppins';
  font-style: 'Light';
}

.nav_list h3{
  color:rgb(253, 253, 253);
}
.avatarContainer{
  height: 100%;
  display: flex;
  align-items: center;
  margin-right: 50px;

}
.img_avatar{
  width: 60px;
  cursor: pointer;
  height: 60px;
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
  border-radius: 50%;
}
.img_avatar:hover{
  transform: scale(1.01);
}


@media (max-width: 1419px) {
  .container{
    height: 90px;
  }
  .nav_list h3{
   font-size: 15px;
  }.logo img {
    width: 2rem;
  }
  .navLogo h3{
    font: normal 30px myAdeston;
    letter-spacing: 1px;
  }
}