


.formReview{
    background: #faf9e5;
    width: 60%;
    height: 100vh;
    margin-top: 200px;
    margin-left: 120px;
    padding: 10px;
    box-shadow: none;
    border-radius: 30px;
    
}

.containerreputacion{
    width: 50%;
    height: 250px;
    background: white;
    border-radius: 30px;
    position: absolute;
    margin-top: -300px;
    margin-left: -10px;
    border: dotted cadetblue;
    box-shadow: 5px 10px 20xp black ;

}

.containerDescription{
    border: dotted cadetblue;
    width: 650px;
    height: 200px;
    border-radius: 20px;
    position: absolute;
    margin-top: 200px;
    margin-left: -30px;
    
}

.description{
    min-width: 99%;
    max-width: 99%;
    min-height: 100%;
    max-height: 100%; 
    overflow-y: scroll;
    overflow-x: hidden;
    font-size:medium;
    font-family: 'Poppins', sans-serif;
    border: none;
    border-radius: 30px;
    padding: 15px;
    
}

.idUsercontainer{
    position: absolute;
    margin-top: -600px;
    margin-left: 650px;
    border: none;
    box-shadow: none
}

.inputIdUser{
    width: 290px;
    box-shadow: none;
    border-radius: 5px;
    margin-left: 90px;
    background: none;
    pointer-events: none;
    

}

.idProfcontainer{ 
    border: none;
    box-shadow: none;
    z-index: 1;
    margin-top: -590px;
    
}

.inputIdUProf{
    width: 300px;
    box-shadow: none;
    border-radius: 5px;
    margin-left: -340px;
    background: none;
    pointer-events: none;
}

.nameProfcontainer{
    border: none;
    box-shadow: none;
   
}

.inputNameProf{
    width: 400px;
    box-shadow: none;
    border-radius: 5px;
    margin-left: -150px;
    background: none;
    pointer-events: none;
    font-size: 20px;
    font-family: 'Poppins' , sans-serif;
}

.reputacions{
    width: 100%;
    height: auto;
}

.checpuntualidad{
    display: flex;
    flex-direction: row;
    align-items: center;
    font-size: 13px;
    padding: 15px;
    margin-top: -30px;
}

.inputspuntualidad{
    display: flex;
    flex-direction: row;
    align-items: center;
    font-size: 13px;
    padding: 15px;
}

.labeltrato{
    position: absolute;
    margin-top: -20px;
}

.checkTrato{
    margin-top: -30px;
    display: flex;
    flex-direction: row;
    align-items: center;
    font-size: 13px;
    padding: 15px;

}

.inputstrato{
    margin-left: 80px;
    display: flex;
    margin-top: -20px;
    flex-direction: row;
    align-items: center;
    font-size: 13px;
    padding: 15px;

}

.labelgeneral{
    position: absolute;
    margin-top: -30px;
}

.checkgeneral{
    display: flex;
    margin-top: -20px;
    flex-direction: row;
    align-items: center;
    font-size: 13px;
    padding: 15px;
}

.inputsgeneral{
    margin-left: 80px;
    display: flex;
    margin-top: -30px;
    flex-direction: row;
    align-items: center;
    font-size: 13px;
    padding: 15px;
}


.puntualidadscore{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    
}

.inputpuntualidadscore{
    font-size: 15px;
    width: 30px;
    box-shadow: none;
    background:none;
    color: black;
    box-shadow: none;
    border: none;
}

.tratoscore{
    margin-top: -20px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center; 
}

.inputtratoscore{
    font-size: 15px;
    width: 30px;
    box-shadow: none;
    background:none;
    color: black;
    box-shadow: none;
    border: none;
}

.generalscore{
    margin-top: -20px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;  
}

.inputgeneralscore{
    font-size: 15px;
    width: 30px;
    box-shadow: none;
    background:none;
    color: black;
    box-shadow: none;
    border: none;
}

.scores{
   
    width: 200px;
    height: 200px;
    position: absolute;
    margin-left: 800px;
    margin-top: -250px;
}

.score{
    margin-top: -20px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center; 
}

.inputscore{
    font-size: 15px;
    width: 50px;
    box-shadow: none;
    background:none;
    color: black;
    box-shadow: none;
    border: none;

}

.button{
    position:absolute;
  
    margin-top: 100px;
    background-color:  cadetblue;
    height: 60px;
    font-size: 125%;
    width: 300px;
    position: absolute;
    border-radius: 25px;
    margin-left: 1100px;
    border: dotted white;
}

.button:hover{
    background-color: white;
    border: dotted cadetblue; 
    cursor: pointer;
}



.imgcerebrito{
    width: 250px;
    margin-left: 950px;
    position: absolute;
    margin-top: -600px;
    
}

.slogan{
  font: var(--paragraph);
  font-size: 230%;
  margin-top: -90px;
  position: absolute;
  margin-left: 200px;
}

.califica{
    font-size: 22px;
    margin-left: 40px;  ;
    
}










