.formreview{
    width: 80%;
    height: 100vh;
    
    margin: auto;
    display: flex;
    justify-content: center;
    
   
}

.indications{
    width: 70%;
    height: 100px;
    background:#eaf2e3;
    opacity: 0.8;
    position: absolute;
    margin-top: 110px;
    border-radius: 20px;
    box-shadow: 2px 10px 8px #5e5b5b;
   
}



.parrafoindications{
    color: black;
    position: absolute;
    font-size: 20px;
    padding: 10px;
}

.formReview{
    width: 30%;
    margin-top: 240px;
    height: 350px;
    background: green;
    position: absolute;
}