
.swiperContainer{
    width: 100%;
    height: 100px;

}
.areas {
    justify-content: center;
    width: 100%;    
    padding-bottom: 60px;
}

.ondas{
    height: auto;
}
.ondas img{
    position: absolute;
    width: 100%;
    z-index: 0;
}

.titulo{
    display: flex;
    justify-content: center;
    align-content: center;
    font-size: 60px;
    position: relative;
    z-index: 1;
}

.parrafo{
    display: flex;
    justify-content: center;
    font: var(--paragraph);
    font-size: 26px;
    font-style: italic;
    position: relative;
    z-index: 1;
}

.card{
    justify-content: center;
    scale: auto;
    
    
}

.container .titulo{
    align-items: center;
}

.image{
    display: flex;
    align-items: center;
    justify-content: center;
    
    width: 100%;
    
}
h2{
    color: black;
}


.swiper-button-prev .swiper-button-disabled{
    scale: 10%;
}



