/* .containerDiv{
    width: 100%;
    height: 36rem;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 10rem 0rem;
}
.buttonSlider{
    border: 1px solid red;
    width: 5%;
    height: 5rem;
}
.sliderDiv{
    width: 85%;
    height: 90%;
    background-color: rgb(255, 253, 253);
    border-radius: 2rem;
    overflow: hidden;
    border: 2px solid var(--aquamarine);
    box-shadow: 0rem 0.5rem 1rem rgb(0 0 0 / 20%);
    opacity: 0%;
    transform: translateY(2.5rem);
    animation-name: fadeSlider;
    animation-duration: 1.5s;
    animation-delay: 0.5s;
    animation-fill-mode: forwards;
}
.largeDiv{
    display: flex;
    width: 600%;
    height: 100%;
}
.cardDiv{
    display: flex;
    width: 16.67%;
    height: 100%;
}
.divImg{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 45%;
    height: 100%;
}
.img{
    width: 30rem;
    height: 29rem;
    border-radius: 50%;
    border: 0.5rem solid var(--aquamarine);
    object-fit: cover;
}
.sliderImg{

}
.datasDiv{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: center;
    width: 55%;
    height: 100%;
}
.nombres{
    font: var(--h1Title);
    font-size: 2.5rem;
    margin-top: 0px;
}
.areas{
    font: var(--hTitle);
    font-size: 1.5rem;
}
.scoreDiv{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 25%;
    margin-top: 2rem;
    margin-bottom: 0px;
}
.star{
    color: gold;
    margin: 0.5rem;
}
/* h1Title
hTitle
paragraph
lightParagrah */
/* 
@keyframes fadeSlider {
    from{
    }to{
        transform: translateY(0rem);
        opacity: 100%;
    }
}  */