.form{
    width: 35%;
    height: 26rem;
    align-content: center;
    background: linear-gradient(
    235deg,
    rgba(255, 255, 255, 1) 1%,
    rgba(234, 242, 227, 1) 96%,
    rgba(217, 217, 217, 1) 100%
    );  
    border-radius: 30px;
    padding: 0rem 5rem 0rem 5rem;
    box-shadow: rgb(0 0 0 / 20%) 0px 35px 40px -7px;
    border: solid 3px var(--cadetblue);
}
.DivContainerForm{
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 38rem;
    max-height: 38rem;
    max-width: 100%;
    max-width: 100%;
}
.title{
    text-align: center;
    font: var(--h1Title);
    font-size: 2.5rem;
    padding-bottom:1rem;
    padding-top:0rem ;
    margin: 0px;
}
.imgDiv{
    overflow: hidden;
    position: absolute;
    top: 6.5rem;
    display: flex;
    justify-content: center;
    align-items: start;
    width: 100%;
    height: 5rem;
}
.imgDivContainer{
    border-top-left-radius: 50%;
    border-top-right-radius: 50%;
}
.imgDivContainer:hover .img{
    transform: translate(0%,47%);
}
.img{
    border-top-left-radius: 50%;
    border-top-right-radius: 50%;
    transform: translate(0%,1%);
    height: 10.8rem;
    width: 12rem;
    transition: transform 1s;
}
.buttonSubmit{
    margin-top: 1rem;
    width: 10rem;
    cursor: pointer;
    font:var(--paragraph);
    font-size: larger;
    color: var(--white);
    border-radius: 1rem;
    background-color: var(--cadetblue);
    border: 2px solid var(--cadetblue);
    box-shadow: none;
    transition: border .5s, background-color .5s, color .5s, transform .5s; 
}
.buttonSubmit:hover{
    background-color: var(--white);
    color: var(--cadetblue);
    border: 2px solid var(--cadetblue);
    transform: translateY(-10px);
}



  @media (max-width: 1201px) {
    .DivContainerForm .form{
        padding: 0rem  4rem;
    }
    .form{
        width: 45%;
    }
    .form .title{
        font-size: 2rem;
    }
  }
    @media (max-width: 769px) {
        .form{
            width: 55%;
        }
        .form .title{
            font-size: 2rem;
        }
    }
    @media (max-width: 559px) {
        .form{
            width: 60%;
        }
        .form .title{
            font-size: 1.7rem;
        }
        .form .buttonSubmit{
            margin-top: 0.5rem;
            font-size: medium;
            width: 8rem;
        }
    }
    @media (max-width: 436px){
        .DivContainerForm .form{
            padding: 0rem  1rem;
        }
        .form{
            width: 80%;
            height: 25rem;
        }
        .imgDiv{
            top:7rem
        }
    }