.Usermodal {
  position: relative;
  width: 768px;
  max-width: 100%;
  min-height: 480px;
  background: #fff;
  z-index: 30;
  border-radius: 20px;
  opacity: 20;
  overflow: hidden;
  box-shadow: rgba(0, 0, 0, 0.2) 0px 60px 40px -7px;
}

.registrarse,
.iniciarSesion {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  transition: all 0.6s ease-in-out;
}

.registrarse {
  width: 50%;
  opacity: 0;
  z-index: 1;
}

.iniciarSesion {
  width: 50%;
  z-index: 2;
}

form {
  background: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding: 0 50px;
  height: 100%;
  text-align: center;
}

h1 {
  font-weight: bold;
  margin: 0;
}

p {
  font-size: 14px;
  font-weight: 100;
  line-height: 20px;
  letter-spacing: 0.5px;
  margin: 15px 0 20px;
}

input {
  padding: 12px 15px;
  margin: 8px 15px;
  width: 100%;
  border-radius: 20px;
  border: none;
  outline: none;
  box-shadow: 9px 9px 15px #dedede, -9px -9px 15px #fff;
}

input:focus,
input:hover {
  box-shadow: -10px -10px 15px rgba(255, 255, 255, 0.5),
    10px 10px 15px rgba(70, 70, 70, 0.12),
    inset -10px -10px 15px rgba(255, 255, 255, 0.5),
    inset 10px 10px 15px rgba(70, 70, 70, 0.12);
}

a {
  color: #333;
  font: 14px;
  text-decoration: none;
  margin: 15px 0;
}

 .button {
  color: #fff;
  background: #000000;
  font-weight: bold;
  font-size: 12px;
  padding: 12px 55px;
  margin: 20px;
  border-radius: 20px;
  border: 1px solid #000000;
  outline: none;
  letter-spacing: 1px;
  text-transform: uppercase;
  transition: transform 80ms ease-in;
  cursor: pointer;
} 

button:active {
  transform: scale(0.9);
}

#iniciarS,
#registrarS {
  background-color: transparent;
  border: 2px solid #fff;
}

.containerDerechoActivo .iniciarSesion {
  transform: translate(0%);
}

.containerDerechoActivo .registrarse {
  transform: translate(100%);
  opacity: 1;
  z-index: 3;
}

.overlayContainer {
  position: absolute;
  top: 0;
  left: 50%;
  width: 50%;
  height: 100%;
  overflow: hidden;
  transition: transform 0.6s ease-in-out;
  z-index: 100;
}

.containerDerechoActivo .overlayContainer {
  transform: translateX(-100%);
}

.overlay {
  position: relative;
  color: #fff;
  left: -100%;
  height: 100%;
  width: 200%;
  background: linear-gradient(to right, var(--aquamarine), var(--cadetblue));
  transform: translateX(0);
  transition: transform 0.6s ease-in-out;
  transition: all 0.6s ease;

}
.loginProf{
  transition: all 0.6s ease;
  background: linear-gradient(to right, var(--cream), var(--pink));
}

.containerDerechoActivo .overlay {
  transform: translateX(50%);
}
.containerDerechoActivo .overlayContainer{
    transform: translateX(-100%);
}
.overlayIzq {
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding: 0 650px;
  text-align: center;
  top: 0;
  height: 100%;
  width: 30%;
  scale: 90%;
  transform: translateX(0);
  transition: transform 0.6s ease-in-out;
}
.overlayIzq,
.overlayD {
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 0 40px;
    text-align: center;
    top: 0;
    height: 100%;
    width: 50%;
    transform: translateX(0);
    transition: transform 0.6s ease-in-out;
}

.overlayIzq {
  transform: translateX(-13%);
  padding: 0;

}

.overlayD {
    right: 0;
    transform: translateX(0);
    padding: 0;
}

.containerDerechoActivo .overlayIzq {
  transform: translateX(0);
}

.containerDerechoActivo .overlayD {
  transform: translateX(20%);
}

.redSocial {
  margin: 20px 0;
}

.redSocial a {
  height: 40px;
  width: 40px;
  margin: 0 5px;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  border: 1px solid #ccc;
  border-radius: 50%;
}

i {
  font-size: 28px;
}
.text{
    width: 70%;
    text-align: center;
}
.ContainerText{
    width: 80%;
    display: flex;
    justify-content: center;
    flex-wrap: nowrap;
    align-items: center;
    flex-direction: column;
}

