@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap");

:root {
  font-family: "Poppins", sans-serif;

  /* Variables de Fuente */
  --h1Title: 600 48px Poppins;
  --hTitle: 500 48px Poppins;
  --paragraph: 400 48px Poppins;
  --lightParagrah: 300 48px Poppins;

  /* Paleta de Colores */
  --yellow: rgb(255, 249, 127);
  --oyster: #eaf2e3;
  --aquamarine: rgb(102, 215, 209);
  --pink: #ffa8b6;
  --cream: #f4f1bb;
  --white: #fff;
  --cadetblue: #5f9ea0;
  /* Paleta de Colores Fuente */
  --black: #000;
  --gray: #5e5b5b;
  --chalk: #d9d9d9;
}

body {
  padding: 0;
  margin: 0;
  margin-top: 90px;
  background: linear-gradient(180deg, #f4f1bba9 0%, #f5f3d47d 90%);
  overflow-x: hidden !important;

}
::-webkit-scrollbar {
  width: 20px;
}

/* Track */
::-webkit-scrollbar-track {
  background: var(--cream)
}

/* Handle */
::-webkit-scrollbar-thumb {
  background:var(--cadetblue);
  border-radius: 10px;
  cursor: pointer;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background:rgb(95, 158, 170);
  cursor: pointer;
}