.countainer {
   
    background: linear-gradient(180deg, #e26981 0%, #F4F1BB 100%);
    display: flex;
    flex-direction: column;
    text-align: center;
    margin-top: 80px;
    padding: 50px;
  }
   img {
    width: 180px;
  }
  
  .titulo{
    display: flex;
    justify-content: center;
    align-content: center;
    font-size: 40px;
  }
  
  .parrafo{
    display: flex;
    justify-content: center;
    font: var(--paragraph);
    font-size: 120%;
    font-style: italic;
  }
