.countainer {
  background: linear-gradient(180deg, #f4f1bba9 0%, #f5f3d47d 90%);
   
    
    display: flex;
    flex-direction: column;
    text-align: center;
    margin-top: 80px;
    padding: 50px;
  }
   img {
    width: 180px;
  }
  
  .titulo{
    display: flex;
    justify-content: center;
    align-content: center;
    font-size: 40px;
  }
  
  .parrafo{
    display: flex;
    justify-content: center;
    font: var(--paragraph);
    font-size: 120%;
    font-style: italic;
  }
