
.profileContainer{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.profileTitle{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font: var(--paragraph);
    font-size: 250%;
}

.p{
    text-align: center;
    margin: 2% 0 2% 0;
}

.profileForm{
    background: var(--cream);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    border-radius: 10px;
    border: 1px solid black;
    margin: 0 1%;
    padding: 3%;
    gap: 3rem;
}

.changesField{
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 10rem;
}

.imageChange{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 35rem;
    gap: 1em;
}

.avatarTitle{
    font: var(--lightParagrah);
    font-size: 150%;
}

.imageContainer{
    height: 230px;
    width: 215px;
    border-radius: 200px;
    border: 4px dotted cadetblue;
    overflow: hidden;
}

.sourceImage{
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center center;
}

.imageForm{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.imageInput{
    background: white;
    padding: 12px 15px;
    margin: 8px 15px;
    border-radius: 20px;
    border: none;
    outline: none;
    box-shadow: 7px 7px 12px #c1c1c1, -7px -7px 13px #fff !important;
    font: var(--lightParagrah);
    font-size: 100%;
}

.dataChange{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 35rem;
    gap: 1em;
}
.pError{
    color:#f11010;
    font-size:small;
    margin: 0%;
}
.dataInput{
    background: white;
    padding: 12px 15px;
    margin: 8px 15px;
    border-radius: 20px;
    border: none;
    outline: none;
    box-shadow: 7px 7px 12px #c1c1c1, -7px -7px 13px #fff !important;
    font: var(--lightParagrah);
    font-size: 100%;
}
.dataDisabled{
    background: rgba(204, 203, 203, 0.555);
    padding: 12px 15px;
    margin: 8px 15px;
    border-radius: 20px;
    border: none;
    outline: none;
    box-shadow: 7px 7px 12px #c1c1c1, -7px -7px 13px #fff !important;
    font: var(--lightParagrah);
    font-size: 100%;
}
.dataButton{
    background-color: cadetblue;
    border-radius: 25px;
    border: dotted white;
    font: var(--paragraph);
    font-size: 175%;
    color: white;
    cursor: pointer;
    padding: 1%;
}

.dataButton:hover{
    background-color: white;
    border: dotted cadetblue;
    color: cadetblue;
}